* {
  box-sizing: border-box;
}

.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 60px;
}

:root {
  --primaryBold: #1F3568;
  --primary: #274282;
  --primaryLight: #3C558E;
  --secundaryBold: #98002E;
  --secundary: #BE0039;
  --secundaryLight: #CB3361;
  --base1: #fff;
  --base2: #000;
  --montserrat: "Montserrat", sans-serif;
  --regular: 400;
  --bold: 700;
  --black: 900;
  --font9: 0.562rem;
  --font14: 0.875rem;
  --font18: 1.125rem;
  --font32: 2rem;
  --font64: 4rem;
  --defaultT: .7s;
}

body {
  background: var(--base1);
  font-family: var(--montserrat);
  font-size: var(--font14);
  text-transform: uppercase;
}

.hidden {
  display: none !important;
}

.input-busca {
  background: var(--primary);
  outline: none;
  padding: 10px;
  width: 300px;
  color: var(--base1);
  font-family: var(--montserrat);
  letter-spacing: 2px;
  border: 2px solid var(--base1);
  box-shadow: 0px 0px 0px 2px var(--secundary);
}

.input-busca::placeholder {
  color: var(--primaryLight);
  font-weight: var(--bold);
  font-size: var(--font14);
  font-family: var(--montserrat);
  letter-spacing: 2px;
}

.input-submit {
  padding: 10px;
  outline: none;
  border: none;
  color: var(--primaryLight);
  font-family: var(--montserrat);
  border: 2px solid var(--base1);
  background: var(--primary);
  box-shadow: 0px 0px 0px 2px var(--secundary);
  font-weight: var(--bold);
  letter-spacing: 2px;
  cursor: pointer;
  margin-left: 10px;
}

.input-submit:hover {
  color: var(--secundaryLight);
  background: var(--primaryBold);
  transition: var(--defaultT);
}

