#slide-banner {
  position: relative;
  width: 100%;
  height: 34vw;
  margin-top: -60px;
}

.banner img {
  width: 100%;
}

.banner {
  position: absolute;
  width: 100%;
  top: 0px;
  display: none;
}

.banner.selected {
  display: block;
  animation: transitSlide 0.2s forwards;
}

@keyframes transitSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-slide-banner {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  background: var(--primary);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 5000;
}

.btn-slide-banner.active {
  background: var(--secundary);
  width: 100%;
}

.categorias {
  margin-top: 0px;
  width: 100% !important;
  height: 400px;
  display: flex;
}

.masculino, .feminino {
  width: 50%;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.feminino {
  background: var(--secundary);
}

.categorias a:hover {
  background: var(--base1);
  transition: var(--defaultT);
}

.categorias a:hover h2 {
  color: var(--base2);
  transition: var(--defaultT);
}

.categorias a h2, .subtitulo {
  color: var(--base1);
  font-size: var(--font32);
  letter-spacing: 20px;
}

.subtitulo {
  color: var(--primary);
  margin-bottom: 40px;
}

.destaques {
  padding: 120px 0;
}

.destaques .container {
  flex-direction: column;
}

.destaques .products-list {
  display: flex;
  background: var(--primary);
  justify-content: space-between;
}

.destaques .products-list li {
  width: 600px;
}

.destaques .products-list li a, .produtos .products-list li a {
  text-decoration: none;
}

.destaques .products-list li:first-child {
  position: relative;
  top: 50px;
  order: 2;
}

.destaques .products-list li:last-child {
  position: relative;
  top: -50px;
  order: 1;
}

.destaques .product-info {
  background-color: var(--base1);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.destaques .products-list li a:hover .product-info {
  background-color: var(--secundary);
  box-shadow: none;
  transition: var(--defaultT);
}

.destaques .products-list li a:hover .product-info img {
  width: 610px;
  transition: var(--defaultT);
}

.destaques .products-list li a img {
  width: 600px;
}

.destaques .product-info h2, .produtos .product-info h2 {
  color: var(--base2);
  font-weight: var(--bold);
  letter-spacing: 2px;
}

.lancamentos {
  margin-bottom: 20px;
}

.produtos .container {
  flex-direction: column;
}

.produtos .products-list {
  display: flex;
  flex-wrap: wrap;
}

.produtos .products-list li a img {
  width: 100%;
}

.produtos .products-list li {
  width: calc(33.33% - 40px);
  margin-right: 60px;
  margin-bottom: 40px;
}

.produtos .products-list li:nth-child(3n) {
  margin-right: 0px;
}

.mais-vendidos {
  margin-top: 60px;
}


