.single-product .newsletter {
    margin-top: -40px;
}

.product {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 30px;
}

.relacionados {
    margin-top: 100px;
    padding: 60px;
    background: linear-gradient(180deg, #3C558E 0%, #FFFFFF 100%);
}

.relacionados .container {
    flex-direction: column;
}

@media (max-width: 800px) {
    .product {
        grid-template-columns: 1fr;
    }
    .product-gallery {
        grid-row: 2;
    }
}

.product-gallery {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 20px;
}

@media (max-width: 800px) {
    .product-gallery {
        grid-template-columns: 1fr;
    }
    .product-gallery-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

.product-gallery img {
    width: 100%;
}

.product-gallery-list img {
    margin-bottom: 20px;
}

.product-detail small, .woocommerce-Price-amount {
    display: block;
    color: rgba(0,0,0,.5);
    font-weight: var(--regular);
    font-size: var(--font9);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-detail h1 {
    font-size: var(--font32);
    font-weight: var(--bold);
    margin-bottom: 40px;
    color: var(--primary);
}

.product-detail .product-price {
    margin-bottom: 20px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .product-detail h1 {
        margin-bottom: 20px;
    }
}

.product-detail .button {
    font-weight: var(--bold);
    background: var(--secundary);
    color: #fff;
    padding: 12px 15px;
    min-width: 250px;
    font-size: var(--font14);
    font-family: var(--montserrat);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-detail .button:hover {
    background: var(--secundaryBold);
    transition: var(--defaultT);
}

.product-detail .button::after {
    content: '';
    display: block;
    background: url('../img/add.svg') no-repeat center center;
    width: 16px;
    height: 16px;
    transition: .3s;
}

.product-detail .button:hover::after {
    transform: rotate(180deg);
}

.product-detail .button.disabled {
    opacity: .5;
    cursor: initial;
}

.product-detail .variations tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.product-detail select {
    font-size: 1rem;
}

.product-detail .reset_variations {
    display: none !important;
}

.product-detail .stock {
    margin-bottom: 10px;
}

.product-detail .quantity {
    display: none !important;
}

.product-detail .woocommerce-Price-amount {
    font-size: var(--font18);
}

.variations .label, .product-detail h2, .cart_totals th, .shop_table thead tr th, .form-row label {
    color: var(--primary) !important;
    font-weight: var(--bold);
    font-size: var(--font14);
    margin-bottom: 10px;
}

.product-detail p:last-child {
    text-transform: none;
}

.variable-items-wrapper {
    margin-left: 2px;
    display: flex !important;
}

.variable-items-wrapper li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--base1);
    background: var(--primary);
    box-shadow: 0px 0px 0px 2px var(--secundary);
    margin-right: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: var(--base1);
    opacity: .6;
}

.woo-selected-variation-item-name {
    display: none;
}

.variable-item.selected {
    opacity: 1;
}